* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0 1rem;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* SLIDER */
.hero__slider {
    margin: 0 auto;
    max-width: 1200px;
    height: 600px;
    display: flex;
    margin-top: 4rem;
}

.hero__preview {
    flex: 1 1 75%;
    position: relative;
}

.hero__preview img {
    display: none;
}

.hero__preview img.active {
    display: block;
}

.hero__preview__text {
    display: none;
    color: white;
    width: 90%;
    font-size: 1.2rem;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 1.5rem 2rem 0;
}

.hero__preview__text.show {
    display: block;
}

.hero__preview__text h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.hero__thumb {
    flex: 1 1 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero__thumb img {
    height: calc(100% / 5);
    filter: brightness(.4);
    transition: all .1s ease-in-out;
}

.hero__thumb img.selected {
    filter: brightness(1);
    border: 1px solid white;
}

.hero__controls {
    color: white;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.control-up, .control-down {
    background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .1));
    background-color: rgba(255, 255, 255, .1);
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .15s linear;
}

.control-down {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .9)); ;
}

.control-up:hover, .control-down:hover {
    background-color: rgba(255, 255, 255, .5);
}

.btn__control {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn__control button {
    width: 200px;
    height: 2rem;
}

@media screen and (max-width: 720px) {
    .hero__slider {
        max-height: none;
        height: 800px;
        flex-direction: column;
    }

    .hero__preview {
        height: 90%;
    }

    .hero__thumb {
        flex: 1 1 10%;
        flex-direction: row;
    }

    .hero__thumb img {
        width: calc(100% / 5);
        height: 100%;
    }

    .hero__controls {
        flex-direction: row;
    }

    .control-up, .control-down {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, .9), transparent);
        background-color: rgba(255, 255, 255, .1);
        width: 3rem;
        height: 100%;
    }

    .control-down {
        background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, .9)); ;
    }

    .hero__controls i {
        transform: rotate(270deg);
    }
}